@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=cyrillic');

* {
    font-family: 'Roboto';
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
    line-height: 1;
    font-weight: 100;
}

html, body {
    margin: 0;
    padding: 0;
}

#scrape {
    .block {
        padding: 20px;
        h1 {
            margin-bottom: 20px;
        }
        input, textarea {
            font-size: 14px;
            border-radius: 3px;
        }
        textarea {
            height: 180px;
            resize: none;
        }
    }
}